<!DOCTYPE html>


<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CS253</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="grid">
		<div class="row titles">
			<div class="col-4">
				<h1 class="col-4"><a href="/rot13">Ceasar Cipher</a></h1>
			</div>

			<div class="col-4">
				<h1><a href="/signup">Sign Up</a></h1>
			</div>

			<div class="col-4">
				<h1><a href="/ascii">ASCII Art</a></h1>
			</div>
		</div>
	</div>
	<div class="grid">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>