{% extends "base.html" %}

{% block content %}
<div class="grid">
	<div class="row center">
		<h1 class="center" style="text-align: center;">New comment for {{name}}</h1>
	</div>
	<hr>
	<form method="post">
		<div class="row">
			<div class="col-12 item-label" style="text-align: left; padding-left: 32px;">
				<h3>{{post.name}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 item-label" style="text-align: center;">
				<p>"""</p>
				<p>{{post.entry | safe}}</p>
				<p>"""</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-12 center">
				<textarea rows='6' cols='80' name="comment" class="center"></textarea>
			</div>
		</div>
		{% if error %}
		<div class="row">
			<p class="center" style="color: red; font-size: 32px;">{{error}}</p>
		</div>
		{% endif %}
		<div class="row">
			<input type="submit" class="center submit btn">
		</div>
	</form>
	<div class="row">
		<a href="/welcome" class="col-4 center">
			<button class="btn">Cancel</button>
		</a>
	</div>
</div>

{% endblock %}