{% extends "base.html" %}

{% block content %}
<div class="grid flex-center">
	<div class="row">
		<h1 class="center">Sign Up</h1>
	</div>
	<form method="post">
		<div class="row">
			<div class="col-6 item-label">Username:</div>
			<div class="col-6 item-entry">
				<input type="text" name="username" value="{{username}}">
				{% if needs_username %}
					<label style="color: red">Please enter a username.</label>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-6 item-label">Password:</div>
			<div class="col-6 item-entry">
				<input type="password" name="password">
				{% if needs_password %}
					<label style="color: red">Please enter a password.</label>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-6 item-label">Verify Password:</div>
			<div class="col-6 item-entry">
				<input type="password" name="verify">
				{% if needs_verify %}
					<label style="color: red">Passwords need to match!</label>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-6 item-label">Email (Optional):</div>
			<div class="col-6 item-entry">
				<input type="text" name="email" value="{{email}}">
				{% if needs_email %}
					<label style="color: red">This needs to be a real email.</label>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<input type="submit" class="center col-6 btn">
		</div>
		{% if error %}
		<div class="row">
			<p class="center" style="color: red; font-size: 32px;">{{error}}</p>
		</div>
		{% endif %}
	</form>

	<div class="row">
		<a href="/login" class="center col-4"><button class="btn">Log In?</button></a>
	</div>
</div>
{% endblock %}