{% extends "base.html" %}

{% block content %}

<div class="grid">
	<div class="row">
		<h1 class="center">Welcome, {{username}}!</h1>
	</div>

	<div class="row">
		<a href="/new" class="center submit">
			<button class="btn">Create a post?</button>
		</a>
	</div>
		{% if posts %}
			{% for post in posts %}
				<div class="row" style="border: 1px solid black;">
					<div class="row" style="margin-bottom:0; padding-left:16px;">
						<h2><em>{{ post.name }}</em></h2>
					</div>
					<div class="row" style="margin-top:0; padding-left:48px;">
						<pre style="font-size:16px;">{{post.entry | safe}}</pre>
					</div>

					<!-- Buttons/Links for Like, Comment, Edit, Delete -->
					<div class="row">
					{% if post.name != username %}
						<a href="/like/{{post.key().id()}}" class="center col-3">
							<button class="btn">
							{% if post.already_liked(username) %}
								Unlike
							{% else %}
								Like
							{% endif %}
							<strong style="border-left: 2px solid black; padding-left:8px;">{{ post.likes }}</strong>
							</button>
						</a>
					{% else %}
						<div class="center col-3 btn" style="text-align: center; padding-top: 6px">
							Likes
							<strong style="border-left: 2px solid black; padding-left: 8px;">
								{{ post.likes }}
							</strong>
						</div>
					{% endif %}
					<a href="/newcomment/{{post.key().id()}}" class="center col-3">
						<button class="btn">Comment</button>
					</a>
					{% if post.name == username %}
						<a href="/edit/{{post.key().id()}}" class="center col-3">
							<button class="btn">Edit</button>
						</a>
						<a href="/delete/{{post.key().id()}}" class="center col-3">
							<button class="btn">Delete</button>
						</a>
					{% endif %}
					</div>

					<!-- Comment area -->
					{% if post.comments %}
						<div class="border-wall"></div>
						{% for comment in post.comments %}
							<div class="row com">
								<div class="col-2">
									<p>
										<em><strong>{{comment.author}}</strong></em>
									</p>
								</div>
								<div class="col-10">
									<pre style="font-size:14px; color:#660066;">{{ comment.content | safe }}</pre>
								</div>
							</div>
							{% if comment.author == username %}
							<div class="row" style="margin-top:0;">
								<a href="/edit/{{post.key().id()}}/editcomment/{{comment.key().id()}}" class="center col-2">
									<button class="btn-small"><strong>Edit</strong></button>
								</a>
								<a href="/delete/{{post.key().id()}}/deletecomment/{{comment.key().id()}}" class="center col-2">
									<button class="btn-small"><strong>Delete</strong></button>
								</a>
							</div>
							{% endif %}
						{% endfor %}
					{% endif %}


				</div>
			{% endfor %}
		{% endif %}

	<div class="row" style="padding-top:32px; padding-bottom:32px;">
		<a href="/login" class="center col-4"><button class="btn">Sign In as Different User?</button></a>
		<a href="/logout" class="center col-4"><button class="btn">Logout?</button></a>
	</div>
	</div>
</div>

{% endblock %}